#left-div {
	height: 100px;
	width: 49%;
	background-color: black;
	border: 1px solid gray;
	display: inline-block;

}

#right-div {
	height: 100px;
	width: 49%;
	border: 1px solid black;
	background-color: gray;
	display: inline-block;
	
}

/*

CSS syntax reminder: 

selector {
	property: value;
}

second-selector {
	property: value;

	
}


*/